{{ partial "head.html" }}
<ul class="breadcrumbs">
 	<li><a href="/">jcdl.net</a>/</li>
</ul>
<div class="container">
	<h1>{{ .Site.Title }}</h1>
	<h2>posts</h2>
	<ul class="post-list">
		{{ range where .Site.RegularPages "Type" "posts" }}
			<li>
				<span class="post-date">{{ .Date.Format "Jan 2 2006" }}</span>
				<a href="{{ .Permalink	}}">{{ .Title}}</a> 
			</li>
		{{ end }}
	</ul>
	<h2>projects</h2>

	<ul class="post-list">
		{{ range where .Site.RegularPages "Type" "projects" }}
			<li>
				<span class="post-date">{{ .Date.Format "Jan 2 2006" }}</span>
				<a href="{{ .Permalink	}}">{{ .Title}}</a> ({{ .Params.blurb }})
			</li>
		{{ end }}
	</ul>
	<h2>social</h2>
	{{ partial "social.html" }}
	{{ partial "footer.html" }}
</div>
</body>
</html>
