{{ partial "head.html" . }}
<ul class="breadcrumbs">
	<li><a href="/">{{ .Site.Title }}</a>/</li>
	<li><a href="/{{ .Type }}">{{ .Type }}</a>/</li>
	<li><a href="{{ .Permalink }}">{{ lower .Title }}</a></li>
</ul>
<div class="container">
	<h1>{{ .Title }}</h1>
	{{ .Scratch.Set "inner" "Posted on " }}
	{{ partial "snippets/postdate.html" . }}
	{{ with .Params.tags }}
	<ul class="tags">
		{{ range . }}
		<li> <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a></li>
		{{ end }}
	</ul>
	{{ end }}
	<div class="content">
		{{ .Content }}
	</div>

  {{ partial "footer.html" }}
</div>
</body>
</html>
