<div class="footer">
    Made with <span class="heart wiggle" alt="love">&lt;3</span> in Canada.
    <div class="rights">
        <div class="flag" title="Queer rights are human rights.">
            <div class="stripe p-red"></div>
            <div class="stripe p-orange"></div>
            <div class="stripe p-yellow"></div>
            <div class="stripe p-green"></div>
            <div class="stripe p-blue"></div>
            <div class="stripe p-violet"></div>
        </div>
        <div class="flag" title="Trans rights are human rights.">
            <div class="stripe t-blue"></div>
            <div class="stripe t-pink"></div>
            <div class="stripe t-white"></div>
            <div class="stripe t-pink"></div>
            <div class="stripe t-blue"></div>
        </div>
    </div>
    <div class="copyright">
        Copyright 2019-{{ time.Now | time.Format "2006" }} {{ site.Params.author.name }}. {{ site.Params.footerMessage }}
    </div>
</div>
