<div class="footer">
    Made with <span class="heart">&lt;3</span> in Canada.
    <div class="rights">
        <div class="flag">
            <div class="stripe p-red"></div>
            <div class="stripe p-orange"></div>
            <div class="stripe p-yellow"></div>
            <div class="stripe p-green"></div>
            <div class="stripe p-blue"></div>
            <div class="stripe p-violet"></div>
        </div>
        <div class="flag">
            <div class="stripe t-blue"></div>
            <div class="stripe t-pink"></div>
            <div class="stripe t-white"></div>
            <div class="stripe t-pink"></div>
            <div class="stripe t-blue"></div>
        </div>
    </div>
</div>
