{{ $musings := .Paginate (where .Site.RegularPages "Type" "musings") 2 }}
{{ partial "head.html" }}
<ul class="breadcrumbs">
 	<li><a href="/">{{ .Site.Title }}</a>/</li>
</ul>
<div class="container">
	<h1 class="index-title">{{ .Site.Title }}</h1>
	<h2>musings</h2>
	<ul class="musing-list">
		{{ range $musings.Pages }}
			<li>
				{{ partial "snippets/postdate.html" . }}
		  		<span class="link-arrow">=&gt; </span>
				<a class="permalink" href="{{ .Permalink }}">{{.Title}}</a>
				<span>
					{{ .Content }}
				</span>
			</li>
		{{ end }}
	</ul>
	{{ if $musings.HasNext }}
	<span class="link-arrow">=&gt; </span><a href="{{ "musings" | absURL}}">{{ (where .Site.RegularPages "Type" "musings") | len | add -2 }} more</a>
	{{ end }}

	<h2>posts</h2>
	<ul class="post-list">
		{{ range where .Site.RegularPages "Type" "posts" }}
			<li>
				{{ partial "snippets/postdate.html" . }}
				<a href="{{ .Permalink	}}">{{ .Title}}</a>
			</li>
		{{ end }}
	</ul>

	<h2>projects</h2>
	<ul class="post-list">
		{{ range where .Site.RegularPages "Type" "projects" }}
			<li>
				{{ partial "snippets/postdate.html" . }}
				<a href="{{ .Permalink	}}">{{ .Title}}</a>
				<span class="blurb">({{ .Params.blurb }})</span>
			</li>
		{{ end }}
	</ul>

	<h2>external</h2>
	{{ partial "links.html" }}

	<h2>meta</h2>
    <ul class="link-list">
		{{ if site.Data.git }}
		{{ $url := printf `%s%s` site.Params.src (path.Join site.Params.CommitPath site.Data.git.commit) }}
		<li>
			<span class="link-arrow">=&gt; </span>
			<a href="{{ $url }}">changes</a>
		</li>
		{{ end }}
		{{ if .Site.Params.src }}
        <li><span class="link-arrow">=&gt; </span><a href="{{ .Site.Params.src }}">source code</a></li>
		{{ end }}

		{{ if .Site.Params.License }}
        <li><span class="link-arrow">=&gt; <span class=""><a href="{{ site.Params.License }}">license</a></span></li>
		{{ end }}
	</ul>
	<ul class="link-list">
		{{ range where .Site.RegularPages "Type" "meta" }}
			<li><span class="link-arrow">=&gt; </span><a href="{{ .Permalink }}"> {{ .Title}}</a></li>
		{{ end }}
	</ul>
	{{ partial "footer.html" }}
</div>
</body>
</html>
