{{ $musings := .Paginate (where .Site.RegularPages "Type" "musings") 2 }}
{{ partial "head.html" }}
<ul class="breadcrumbs">
 	<li><a href="/">{{ .Site.Title }}</a>/</li>
</ul>
<div class="container">
	<h1 id="title" class="index-title"><a href="#title">#</a>{{ .Site.Title }}</h1>
	<h2 id="musings"><a href="#musings">##</a>musings</h2>
	<ul class="musing-list">
		{{ range $musings.Pages }}
			<li>
				{{ partial "snippets/postdate.html" . }}
		  		<span class="link-arrow"></span>
				<a class="permalink" href="{{ .Permalink }}">{{.Title}}</a>
				<div class="musing-content">
					{{ .Content }}
				</div>
			</li>
		{{ end }}
	</ul>
	{{ if $musings.HasNext }}
	<span class="link-arrow"></span><a href="{{ "musings" | absURL}}">{{ (where .Site.RegularPages "Type" "musings") | len | add -2 }} more</a>
	{{ end }}

	<h2 id="posts"><a href="#posts">##</a>posts</h2>
	<ul class="post-list">
		{{ range where .Site.RegularPages "Type" "posts" }}
			<li>
				{{ partial "snippets/postdate.html" . }}
				<a href="{{ .Permalink	}}">{{ .Title}}</a>
			</li>
		{{ end }}
	</ul>

	<h2 id="projects"><a href="#projects">##</a>projects</h2>
	<ul class="post-list">
		{{ range where .Site.RegularPages "Type" "projects" }}
			<li>
				{{ partial "snippets/postdate.html" . }}
				<a href="{{ .Permalink	}}">{{ .Title}}</a>
				<span class="blurb">({{ .Params.blurb }})</span>
			</li>
		{{ end }}
	</ul>

	<h2 id="external"><a href="#external">##</a>external</h2>
	{{ partial "links.html" }}
	
	<h2 id="about"><a href="#about">##</a>about</h2>
	{{ with .GetPage "meta/about" }}
	<p>
		{{ replaceRE "<p>(.+)</p>" "$1" .Summary}}
		<a href="{{ .Permalink	}}">more...</a> {{/* Hack to insert the "more..." link into the paragraph */}}
	</p>
	{{ end }}

	<h2 id="meta"><a href="#meta">##</a>meta</h2>
    <ul class="link-list">
		{{ if site.Data.git }}
		{{ $url := printf `%s%s` site.Params.src (path.Join site.Params.CommitPath site.Data.git.commit) }}
		<li>
			<span class="link-arrow"></span>
			<a href="{{ $url }}">changes</a>
		</li>
		{{ end }}
		{{ if .Site.Params.src }}
        <li><span class="link-arrow"></span><a href="{{ .Site.Params.src }}">source code</a></li>
		{{ end }}

		{{ if .Site.Params.License }}
        <li><span class="link-arrow"><span class=""><a href="{{ site.Params.License }}">license</a></span></li>
		{{ end }}
	</ul>
	<ul class="link-list">
		{{ range where .Site.RegularPages "Type" "meta" }}
			<li><span class="link-arrow"></span><a href="{{ .Permalink }}"> {{ .Title}}</a></li>
		{{ end }}
	</ul>
	<ul class="link-list">
		<li>
			{{- $posts := site.GetPage "section" "posts" -}}
			<span class="link-arrow"></span>
			{{- with $posts.OutputFormats.Get "rss" -}}
			<a href="{{ .Permalink }}" alt="RSS Icon" title="rss">
				<svg xmlns="http://www.w3.org/2000/svg"
					id="RSSicon"
					viewBox="0 0 8 8">
					<style type="text/css">
						.b {stroke: none; fill: orange;}
						.s {stroke: none; fill: white;}
					</style>
					<rect class="b" width="8" height="8"/>
					<circle class="s" cx="2" cy="6" r="1" />
					<path class="s" d="m 1,4 a 3,3 0 0 1 3,3 h 1 a 4,4 0 0 0 -4,-4 z" />
					<path class="s" d="m 1,2 a 5,5 0 0 1 5,5 h 1 a 6,6 0 0 0 -6,-6 z" />
				</svg>
			</a>
			{{- end -}}
		</li>
	</ul>
	{{ partial "footer.html" }}
</div>
</body>
</html>
