body {
    font-family: "Libre Baskerville", "Baskerville", serif;
    background: #e6d5e6;
    background: linear-gradient(180deg, rgba(230, 213, 230, 1) 0%, rgb(231, 195, 210) 100%);
    color: #330e42;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

h1, h2, h3,
.prose {
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
}

.prose {
    flex: 1 0 auto;
    font-size: 1.5rem;
}

.prose p {
    line-height: 1.5em;
    margin: 0rem 0;
}

.post-date {
    margin: 2rem 0 0 0;
}

a {
    color: #7f0048;
}

code {
    font-family: "Libre Baskerville", "Baskerville", serif;
}

figure {
    margin: 4rem 0;
}

.post-list {
    list-style: none;
    padding: 0;
    font-size: 1.25rem;
}

.post-list>li {
    margin: 0.5rem 0;
}

.breadcrumbs {
	margin: 0;
	padding: 0.25rem;
	list-style: none;
	display: flex;
	flex-direction: row;
}

.breadcrumbs>li {
	display: inline;
}

.breadcrumbs>li>a {
	margin: 0 0.5rem;
}

@media only screen and (min-width: 680px) {
	body {
		font-size: 16px;
	}

	.container {
        display: flex;
        flex-direction: column;
		padding: 1.5rem;
		width: 640px;
        height: 100%;
		margin: 0 auto;
	}
}

.container {
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    height: 100%;
	padding: 0 1.5rem;
}

.footer {
    flex-shrink: 0;
    margin: 16rem auto 1rem auto;
    color: #330e4289;
}

.copyright {
    font-size: 0.75rem;
}